 .social-icon {
     margin: 20px 10px;
     height: 100px;

 }

 .footer {
     position: relative;
     text-align: center;
     font-family: 'roboto';
     background-color: #f2f2f2;
 }

 .copyright {
     height: 35px;
     background-color: #9453a6;
     color: #fff;
 }